extends ../layouts/default

block js

block append variables 
	- var currentPage = "contact";
	- var themeColor = "dark";

block content
	.container
		h1 Contact Me
		br
		p: a(href="mailto:test@gmail.com") <img src="images/contact/gmail.png" width="45" /> &nbsp; test@gmail.com
		p: a(href="https://www.facebook.com/facebook/") <img src="images/contact/facebook.png" width="45" /> &nbsp; Facebook
		p: a(href="https://github.com/github") <img src="images/contact/github.png" width="45" /> &nbsp; GitHub 
		p: a(href="https://discord.gg/") <img src="images/discord.png" width="45" /> &nbsp; Discord Server 
		p: a(href="https://docs.google.com/forms") <img src="images/contact/google forms.png" width="45" /> &nbsp; Enquiry Form
		