extends ../layouts/default

block js

block append variables 
	- var currentPage = "home";
	- var themeColor = "dark";

block content
	.wrap
		img#login-bg(src="/images/login-bg.jpeg")
		#middleWhite
			.container
				br
				div.text-center
					img(src="/images/logo_black.png" width="300")
					br
					br
					p.text-center Do you want to make a change to the planet? Start by clicking the button down below.
				div
					a.yesButton.btn(type="button" href="/login") Login / Sign up
					br
				br