extends ../layouts/default

block js

block append variables 
    - var currentPage = "inputAjax";
    - var themeColor = "dark";

block content
    .container
        h1 Input (AJAX)
        
        form#numForm
            .form-group#general
                p Minimum Number: &nbsp; 
                    input#minNum.form-control(type="number" value=0 min=0)
                    span &nbsp;
                    i.fas(data-toggle="modal" data-target="#numberMinModal" class="fa-question-circle")
                    +modalBoxDark("numberMinModal","Minimum Number")
                        p Minimum bound of the random number.
                p Maximum Number: &nbsp; 
                    input#maxNum.form-control(type="number" value=100 min=0)
                    span &nbsp;
                    i.fas(data-toggle="modal" data-target="#numberMaxModal" class="fa-question-circle")
                    +modalBoxDark("numberMaxModal","Maximum Number")
                        p Maximum bound of the random number.
            br
            button#generateButton.btn(onclick="generateLink()") Generate!
