extends ../layouts/default

block js

block append variables 
	- var currentPage = "photos";

block content
	.container
		h1 Photos
		p A collection of photos
		.row
			.col-12.col-lg-6: +figureWithCaption("images/largeimg.jpeg","Caption 1","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/largeimg.jpeg","Caption 2","w-100")
		.row
			.col-12.col-lg-6: +figureWithCaption("images/largeimg.jpeg","Caption 3","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/largeimg.jpeg","Caption 4","w-100")
		.row
			.col-12.col-lg-6: +figureWithCaption("images/largeimg.jpeg","Caption 5","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/largeimg.jpeg","Caption 6","w-100")
		.row
			.col-12.col-lg-6: +figureWithCaption("images/largeimg.jpeg","Caption 7","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/largeimg.jpeg","Caption 8","w-100")
		
		p More photos to come