nav#myNav.navbar.navbar-default.navbar-expand-sm.navbar-dark: .container.my-1
    a.navbar-brand(href='/'): img(src="/images/logo_top_left.png" width="30" height="30" alt="")
    a.navbar-brand(href='/') Green Me
    if isAuthenticated
        ul.nav.navbar-nav.mr-auto
            li.nav-item.score-group
                img.d-inline-block(src="/images/star.png" width="25px")
                h4.d-inline-block: a.nav-link.active=internalUser.points
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#orderNav')
        span.navbar-toggler-icon.navbar-light
    .collapse.navbar-collapse#orderNav
        .navbar-text
            if !isAuthenticated
                a.nav-link.active(href="/login") Login
            else
                span.name-span.d-inline-block=user.name
                .navbar-nav.d-inline-block: a.nav-link(href="/logout") (Logout)
